<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="flex-between">
            <a th:href="@{/}"><img th:src="@{/images/logo.svg}"></a>
            <nav>
                <ul>
                    <li><a th:href="@{/}">Вернутся в личный кабинет</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h3>Добавление товара</h3>
        <form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data">
            <label for="title">Введите наименование товара: </label>
            <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
            <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

            <label for="description">Введите описание товара: </label>
            <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
            <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

            <label for="price">Введите цену товара: </label>
            <input type="number" th:field="*{price}" min="1" step="0.00" placeholder="Цена" id="price">
            <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

            <label for="warehouse">Введите cклад, на котором расположен товар: </label>
            <input type="text" th:field="*{warehouse}" placeholder="Cклад" id="warehouse">
            <div style="color: red" th:if="${#fields.hasErrors('warehouse')}" th:errors="*{warehouse}"></div>

            <label for="category">Выберите категорию товара: </label>
            <select name="category" th:field="*{category}" id="category">
                <div th:each="element : ${category}">
                    <option th:text="${element.getName()}" th:value="${element.getId()}">
                </div>
            </select>
            <div style="color: red" th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></div>

            <label for="seller">Введите данные о продавце: </label>
            <textarea th:field="*{seller}" placeholder="Продавец" id="seller"></textarea>
            <div style="color: red" th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}"></div>

            <p style="color: red">Вы можете добавить до 5 фотографий. Первая фотография не может быть пустой т.к они будет являтся главной при выводе карточки товара</p>
            <input type="file" name="file_one">
            <input type="file" name="file_two">
            <input type="file" name="file_three">
            <input type="file" name="file_four">
            <input type="file" name="file_five">

            <button type="submit">Добавить</button>
        </form>
    </main>

    <footer>
        <div class="flex-between">
            <div class="tagline"><img th:src="@{/images/icon.svg}"><span>Book Store - весь мир на книжной полке!</span></div>
            <div class="social-icons"><a href="#"><img th:src="@{/images/social-icons.svg}"></a></div>
        </div>
    </footer>
</body>
</html>