<!DOCTYPE html>
<html
        lang="ru"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="flex-between">
            <a th:href="@{/}"><img th:src="@{/images/logo.svg}"></a>
            <nav>
                <ul>
                    <li><a th:href="@{/products}">Вернутся к списку товаров</a></li>
                    <li><a th:href="@{/}">Вернутся назад</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h3>Информация о товаре: </h3>
        <dl>
            <dt>Наименование</dt>
            <dd th:text="${product.getTitle()}"></dd>
            <dt>Описание</dt>
            <dd th:text="${product.getDescription()}"></dd>
            <dt>Цена</dt>
            <dd th:text="${product.getPrice()}"></dd>
            <dt>Cклад</dt>
            <dd th:text="${product.getWarehouse()}"></dd>
            <dt>Продавец</dt>
            <dd th:text="${product.getSeller()}"></dd>
            <dt>Категория</dt>
            <dd th:text="${product.getCategory().getName()}"></dd>
        </dl>

        <div class="goods-list">
            <img th:each="img : ${product.getImageList()}" th:src="'/img/' + ${img.getFileName()}" style="width: 200px">
        </div>

        <ul>
            <li sec:authorize="hasRole('USER')" ><a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить в корзину</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Изменить</a></li>
            <li sec:authorize="hasRole('ADMIN')"><a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить</a></li>
        </ul>
    </main>

    <footer>
        <div class="flex-between">
            <div class="tagline"><img th:src="@{/images/icon.svg}"><span>Book Store - весь мир на книжной полке!</span></div>
            <div class="social-icons"><a href="#"><img th:src="@{/images/social-icons.svg}"></a></div>
        </div>
    </footer>
</body>
</html>