<!DOCTYPE html>
<html
        lang="ru"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <h3>Информация о товаре: </h3>
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Cклад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <div th:each="img : ${product.getImageList()}">
        <img th:src="'/img/' + ${img.getFileName()}" style="width: 200px">
    </div>

    <p sec:authorize="hasRole('USER')">
        <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
    </p>

    <ul sec:authorize="hasRole('ADMIN')">
        <li><a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Изменить</a></li>
        <li><a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удалить</a></li>
    </ul>
</body>
</html>