<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>Личный кабинет администратора</h1>
    <form id="logout-form" method="post" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

    <ul>
        <li><a th:href="@{/products}">Товары</a></li>
        <li><a th:href="@{/categories}">Категории товаров</a></li>
        <li><a th:href="@{/orders}">Заказы</a></li>
        <li><a th:href="@{/users}">Пользователи</a></li>
        <li><a href="#" onclick="document.getElementById('logout-form').submit();">Выйти из личного кабинета</a></li>
    </ul>
</body>
</html>