<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <h3>Заказы</h3>
    <ul>
        <li th:each="order : ${orders}">
            <a th:href="@{/order/{id}(id=${order.getNumber()})}"
               th:text="'№'+${order.getNumber()} + ' от ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy HH:mm')}"></a>
        </li>
    </ul>
</body>
</html>