<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Заказы</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css" >
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="flex-between">
            <a th:href="@{/}"><img th:src="@{/images/logo.svg}"></a>
            <nav>
                <ul>
                    <li><a th:href="@{/}">Вернутся в личный кабинет</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
    <h3>Заказы</h3>

    <form sec:authorize="hasRole('ADMIN')" th:action="@{/orders}" th:method="POST">
        <label for="search">Последние 4-е буквы/цифры заказа:</label>
        <input type="text" name="search" id="search" th:value="${search}" maxlength="4">

        <button type="submit">Поиск</button>
    </form>

    <ul>
        <li th:each="order : ${orders}">
            <a th:href="@{/order/{id}(id=${order.getNumber()})}"
               th:text="'№'+${order.getNumber()} + ' от ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy HH:mm')}"></a>
        </li>
    </ul>
    </main>

    <footer>
        <div class="flex-between">
            <div class="tagline"><img th:src="@{/images/icon.svg}"><span>Book Store - весь мир на книжной полке!</span></div>
            <div class="social-icons"><a href="#"><img th:src="@{/images/social-icons.svg}"></a></div>
        </div>
    </footer>
</body>
</html>