<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <form id="logout-form" method="post" action="/logout">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    </form>

    <ul>
        <li><a href="#" onclick="document.getElementById('logout-form').submit();">Выйти из личного кабинета</a></li>
        <li><a th:href="@{/cart}">Корзина</a></li>
        <li><a th:href="@{/orders}">Заказы</a></li>
    </ul>

    <h1>Личный кабинет</h1>
    <h3>Cортировка, поиск, фильтрация</h3>
    <form th:method="POST" th:action="@{/person account/product/search}">
        <fieldset>
            <legend>Выберите параметры для сортировки, поиска, фильтрации:</legend>
            <label for="search">Наименование:</label>
            <input type="text" id="search" name="search" th:value="*{value_search}">

            <fieldset>
                <legend>Цена, P</legend>

                <label for="ot">От</label>
                <input type="text" name="ot" id="ot" th:value="*{value_price_ot}">

                <label for="do">До</label>
                <input type="text" name="do" id="do" th:value="*{value_price_do}">
            </fieldset>

            <fieldset>
                <legend>Сортировка</legend>

                <input type="radio" id="ascending_price" name="price" value="sorted_by_ascending_price">
                <label for="ascending_price">По возрастанию цены</label>

                <input type="radio" id="descending_price" name="price" value="sorted_by_descending_price">
                <label for="descending_price">По убыванию цены</label>
            </fieldset>

            <fieldset>
                <legend>Категория товаров</legend>

                <input type="radio" id="furniture" name="contract" value="furniture">
                <label for="furniture">Мебель</label>

                <input type="radio" id="appliances" name="contract" value="appliances">
                <label for="appliances">Бытовая техника</label>

                <input type="radio" id="clothes" name="contract" value="clothes">
                <label for="clothes">Одежда</label>
            </fieldset>

            <button type="submit">Найти</button>
        </fieldset>
    </form>

    <h3>Результат поиска, cортировки, фильтрации</h3>
    <div th:each="product : ${search_product}">
        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
        <br>
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <hr>
    </div>

    <h3>Доступные товары: </h3>
    <div th:each="product : ${products}">
        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
        <br>
        <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
        <p th:text="'Цена: ' + ${product.getPrice()}"></p>
        <a th:href="@{/cart/add/{id}(id=${product.getId()})}">Добавить товар в корзину</a>
        <hr>
    </div>
</body>
</html>
