<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <h1>Список пользователей</h1>

    <ul>
        <li th:each="user : ${users}">
            <a th:href="@{user/{id}(id=${user.getId()})}" th:text="${user.getLogin()}"></a>
            <span th:if="${user.getRole() =='ROLE_USER'}"> - пользователь</span>
            <span th:if="${user.getRole() =='ROLE_ADMIN'}"> - администратор</span>
        </li>
    </ul>

    <ul>
        <li><a th:href="@{/}">Вернутся в личный кабинет</a></li>
    </ul>
</body>
</html>