<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование товара</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
<h3>Создание категории</h3>

<form th:method="POST" th:object="${category}" th:action="@{/category/edit}" >
    <input type="hidden" th:field="*{id}">
    <label for="name">Название категории: </label>
    <input type="text" th:field="*{name}" placeholder="Название" id="name">

    <button type="submit">Отредактировать</button>
</form>
</body>
</html>