<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Категории</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>
    <header>
        <div class="flex-between">
            <a th:href="@{/}"><img th:src="@{/images/logo.svg}"></a>
            <nav>
                <ul>
                    <li sec:authorize="hasRole('ADMIN')" ><a th:href="@{category/add}">Создать категорию</a></li>
                    <li><a th:href="@{/}">Вернутся назад</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <h3>Категории</h3>

        <ul>
            <li th:each="item : ${list}">
                <a th:href="@{category/info/{id}(id=${item.getId()})}" th:text="${item.getName()}"></a>
            </li>
        </ul>
    </main>

    <footer>
        <div class="flex-between">
            <div class="tagline"><img th:src="@{/images/icon.svg}"><span>Book Store - весь мир на книжной полке!</span></div>
            <div class="social-icons"><a href="#"><img th:src="@{/images/social-icons.svg}"></a></div>
        </div>
    </footer>
</body>
</html>