<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title th:text="'Ошибка: ' + ${message}"></title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet">
</head>
<body>

  <dl>
    <dt>Сообщение</dt>
    <dd th:text="${message}"></dd>

    <dt>Код статуса</dt>
    <dd th:text="${status}"></dd>

    <dt>Исключение</dt>
    <dd th:text="${exception}"></dd>

    <dt>Стектрейс</dt>
    <dd th:text="${trace}"></dd>

    <dt>Ошибки связывания</dt>
    <dd th:text="${errors}"></dd>
  </dl>

</body>
</html>